<section class="root">
  <h3 style="text-align: center;">
    Tâches
  </h3>
  <div class="main-list-options">
    <a mat-icon-button (click)="onEditClick()">
      <i class="material-icons">create</i>
    </a>
    <a mat-icon-button (click)="onAlertClick()">
      <i class="material-icons">notifications</i>
    </a>
  </div>
  <section class="items">
    <app-todo-item *ngFor="let item of list.items"
                   [clock]="item.clock"
                   [item]="item"
                   [listId]="list.id">
    </app-todo-item>
  </section>
</section>
