:host {
  padding: 0em;
  display: flex;
  flex-flow: column;
}

:host > section.root {
  flex: 1 1;
  margin: 0;
  padding: 0.25em;
}

h3 {
  margin-top: 0;
}

.main-list-options {
	text-align: center;
	font-size: 0.8em;
}

.root h3 {
	margin-bottom: 5px;
}

.items {
  margin: 10px 30px;
}