section.lists {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
/*  border: 1px solid black;
*/  padding: 0 2px 0 0;
  width: 100%;
/*  margin: 20px 125px 0 0;
*/}

.lists div {
  margin: auto;
}

app-todo-list {
  flex: 0 0 auto;
  display: inline-flex;
/*  border: solid black 1px;
*/  width: 100%;
}

.home-header {
  display: inline-block;
}

.home-left-buttons {
  width: 30%;
}

.home-left-button {
  width: 164px;
}

.home-center-searchbar {
  width: 40%;
}

.home-right-icons {
  width: 20%;
  text-align: right;
}

.mat-focused .mat-form-field-placeholder {
    color: #000 !important;
}

@media screen and (max-width: 780px) {
  section.lists {
    margin: 20px auto 0 auto;
  }
}

@media screen and (max-width: 612px) {
  .home-left-buttons {
    width: 50%;
  }
}
