section.lists {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
/*  border: 1px solid black;
*/  padding: 0 2px 0 0;
  width: 75%;
  float: right;
  margin: 20px 125px 0 0;
}

.lists div {
  margin: auto;
}

app-todo-list {
  flex: 0 0 auto;
  display: inline-flex;
/*  border: solid black 1px;
*/  width: 100%;
}

.home-header {
  display: inline-block;
}

.home-left-buttons {
  width: 20%;
}

.home-center-searchbar {
  width: 50%;
}

.home-right-icons {
  width: 20%;
  text-align: right;
}

@media screen and (max-width: 780px) {
  section.lists {
    margin: 20px auto 0 auto;
  }
}
